set bell-style none
set completion-ignore-case on

"\e[D": backward-char
"\e[C": forward-char
"\e[1;5D": backward-word
"\e[1;5C": forward-word

"\C-?": backward-delete-char
"\C-h": backward-delete-char
"\e[3~": delete-char

"\C-l": clear-screen

"\e[B": next-history
"\e[A": prev-history

"\e[1~": beginning-of-line
"\e[4~": end-of-line

"\t": menu-complete
