set bell-style none
set completion-ignore-case on
set input-meta off

"\e[D": backward-char
"\e[C": forward-char
"\e[1;5D": backward-word
"\e[5D": backward-word
"\e[1;5C": forward-word
"\e[5C": forward-word

"\C-?": backward-delete-char
"\C-H": backward-delete-char
"\e[3~": delete-char

"\C-l": clear-screen

"\e[B": next-history
"\e[A": prev-history

"\e[1~": beginning-of-line
"\e[4~": end-of-line

"\t": menu-complete
"\C-w": backward-kill-word

# Ignore windows key
"\e[5~": ""
"\e[OD": ""

$if python
"\t": complete
$endif
